<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test task</title>
</head>
<body>
{% for el in elements %}
<p>Title:  </p>{{ el.title }}
<p>Image:  </p><a href="{{ el.image }}">{{ el.image }}</a>
<p>City:  </p>{{ el.city }}
<p>Date:  </p>{{ el.date }}
<p>Beds:  </p>{{ el.beds }}
<p>Price:  </p>{{ el.price }}
<p>Currency:  </p>{{ el.currency }}
<p>Description:  </p>{{ el.text }}
<hr>
{% endfor %}

</body>
</html>